<button {{action action}} class="{{if secondary 'secondary'}}" disabled={{if isRunning 'disabled' ''}}>
  <div class="task-button-container">
    <div class="task-button-content">
      {{#if isRunning }}
        {{#if showStatus }}
          <i class="fa fa-circle-o-notch fa-spin"></i> {{ status }}
        {{ else }}
          {{ origText }}
        {{/if}}
      {{ else }}
        {{ yield }}
      {{/if}}
    </div>
  </div>
</button>
