<button class="task-button" {{action action}} disabled={{if isRunning 'disabled' ''}}>
  <div class="task-button-container">
    <div class="task-button-content">
      {{#if showStatus }}
        <i class="fa fa-circle-o-notch fa-spin"></i> {{ status }}
      {{ else }}
        {{ yield }}
      {{/if}}
    </div>
  </div>
</button>
