<div class="field{{ if inline ' inline' '' }}{{ if size (concat ' ' size) '' }}{{ validationClass }}" data-for="{{name}}">

  {{#if label}}
    <label for="{{name}}-field">
      {{#if required }}
        <i class="fa fa-asterisk required-marker" title="Required parameter"></i>
      {{/if}}
      {{label}}
    </label>
  {{/if}}

  {{ textarea id=(concat name '-field') name=name value=(mut (get object name)) focus-in=(action "markFocused") }}
  {{#liquid-if validationError class="slide-down"}}
    <div class="error">{{ validationError }}</div>
  {{/liquid-if}}
  {{#if description}}
    <div class="description">{{description}}</div>
  {{/if}}
</div>
